body{
  background-color: #ecf0f1;
}

.myLinks{
  color: #2c3e50;
}

.logo{
  color: #2ecc71;
}

.Navbar{
  background-color: #3498db;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}